<!DOCTYPE html>
<html lang ="en">
  <head>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <title>Scrape the News</title>
  </head>
  <body>

  <nav>
    <div class="nav-wrapper blue z-depth-3">
      <a href="/" class="brand-logo blue center">ALL THE NEWS THAT'S FIT TO SCRAPE</a>
      <ul>
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/Nickmcd4/allTheNewsFitToScrape" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
    
    <main>
      <div class="container">
        {{{ body }}}
      </div>
    </main>

 <footer class="page-footer blue lighten-1">
  <div class="footer-copyright blue">
    <div class="container">
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="app.js"></script>
  </body>
<html>